<nav>
    <div class="nav-wrapper center-align blue">
        <a class="">GitHub User Info</a>
    </div>
</nav>

<div class="container">
    <div class="center-align">
        <h5>Type a github username account to get info</h5>
    </div>
    <div class="row">
        <form class="col s12" [formGroup] = "form" (ngSubmit) = "onSubmit(form.value)">
            <div class="input-field col s10 offset-s1">
                <input type="text" class="ng-invalid" name="username" placeholder="Username" formControlName="username">
            </div>
            <input class="center-align" type="submit" [disabled]="!form.valid" value="Submit">
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
       <div class="center-align">
           <img src="{{ data.avatar_url }}" class="circle responsive-img" style="max-height:150px; max-width:150px; min-height:100px; min-width:100px;">
       <div>
    </div>
    <div class="row">
       <div class="center-align">
           <h5 class="center-align">{{ data.name }}</h5>
       <div>
    </div>
    <div class="row">
       <div class="center-align">
           <h6>Login: {{ data.login }}</h6>
           <h6>User since: {{ data.created_at }}</h6>
           <h6>Company: {{ data.company }}</h6>
           <h6>Blog/Site: {{ data.blog }}</h6>
           <h6>Location: {{ data.location }}</h6>
           <h6>E-Mail: {{ data.email }}</h6>
       <div>
    </div>
</div>

